<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>AI Nano Counter | Profile</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/profile.css') }}">

<link rel="preconnect"
href="https://fonts.googleapis.com">

<link rel="preconnect"
href="https://fonts.gstatic.com"
crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
rel="stylesheet">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<nav class="navbar">

<div class="logo">

<i class="fa-solid fa-robot"></i>

<span>AI Nano Counter</span>

</div>

<ul>

<li><a href="/dashboard">Dashboard</a></li>

<li><a href="/image">Image Detection</a></li>

<li><a href="/camera">Live Camera</a></li>

<li><a href="/reports">Analytics</a></li>

</ul>

</nav>

<section class="profile-section">

<div class="profile-card">

<div class="profile-image">

<img
src="{{ user.picture }}"
alt="Profile">

</div>

<h1>

{{ user.name }}

</h1>

<p class="email">

{{ user.email }}

</p>

<div class="badge">

<i class="fa-brands fa-google"></i>

Google Account Verified

</div>

<div class="details">

<div class="detail">

<i class="fa-solid fa-id-card"></i>

<span>

UID : {{ user.uid }}

</span>

</div>

<div class="detail">

<i class="fa-solid fa-brain"></i>

<span>

AI Model : YOLO11L

</span>

</div>
</div>

<div class="info-grid">

<div class="info-card">

<i class="fa-solid fa-image"></i>

<h3>{{ total_images }}</h3>

<p>Total Images</p>

</div>

<div class="info-card">

<i class="fa-solid fa-cubes"></i>

<h3>{{ total_objects }}</h3>

<p>Total Objects</p>

</div>

<div class="info-card">

<i class="fa-solid fa-chart-line"></i>

<h3>99.8%</h3>

<p>AI Accuracy</p>

</div>

<div class="info-card">

<i class="fa-solid fa-circle-check"></i>

<h3>Active</h3>

<p>Account Status</p>

</div>

</div>

<div class="buttons">

<a
href="/dashboard"
class="btn">

<i class="fa-solid fa-house"></i>

Dashboard

</a>

<a
href="/image"
class="btn">

<i class="fa-solid fa-image"></i>

Image Detection

</a>

<a
href="/camera"
class="btn">

<i class="fa-solid fa-camera"></i>

Live Camera

</a>

<a
href="/logout"
class="btn logout">

<i class="fa-solid fa-right-from-bracket"></i>

Logout

</a>

</div>

</div>

</section>

<footer>

<p>

© 2026 AI Nano Counter | Final Year BCA Project | Developed By Pravinraj R | Coordinate By Yuvan sankar raja A

</p>

</footer>

</body>

</html>